@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --map-font: var(--font-patrick-hand);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--map-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--map-font), cursive;
}
